#**KHUB DAY- 1** **TASK**

#*STRING*:
String consists of letters, numbers, symbols which combines using (' '," ")

In [4]:
name= "ashwini"
print(name)

ashwini

String methods: lower case() : It converts a letters into smaller

In [ ]:
"Ashwini".lower()

There are some common string methods. those are lower() , upper() , strip() , replace() , split() , len()


Upper case() : It converts the letters into capital

In [ ]:
"Ashwini".upper()

Strip() : It removes white spaces

In [ ]:
"ashwini ".strip()

Replace() : It replaces letters

In [ ]:
"ashwini".replace("a","A")

'Ashwini'


Split() : It divides string to list of words

In [ ]:
"ashwini durga".split()

len() : It gives string length

In [ ]:
len("Ashwini")

BOOLEAN
      Used in logical and conditions
      there are some comparisons....
      
      ==equal

Example :

In [ ]:
10==10

!= not eqal

Example :

In [ ]:
5!=3

>greater than

Example :

In [ ]:
25>3

< less than

Example :

In [ ]:
12<30

= greater than

Example :

In [ ]:
12>=12

<= less than or equal

Example :

In [ ]:
6<=9

#*OPERATORS* :

and : Both conditions must be true

or  : Atleast one condition is true

not : Reverse the condition

In [ ]:
x=6
print(x>5 and x<10)
print(x>5 or x<3)
print(not(x==5))

#*LIST* : It adds the value

* Ordered

* Mutable ( can changes )

* Allows duplicates

In [ ]:
fruits = ["apple","banana","cherry"]
fruits.append("orange")
print(fruits)

#*TUPLE* :

* Ordered

* Immutable ( can't change )

* Allows duplicates

In [ ]:
colours = ("red", "green", "black", "red")
print(colours)

#*SET* :

* Unordered

* No duplicates

* Mutable

In [ ]:
numbers = {1,2,3,4,5,3}
print(numbers)

#*DICTIONARY* :

* Key Values pairs

* Unordered ( python 3.6+ maintains insertion order)

In [ ]:
student = {"name" : "ashwini", "age": 20}
print (student["name"])

#*CONDITIONAL STATEMENTS* : Used to perform different actions based conditions.

THESE ARE THREE TYPES:

* if statement

* if else statement

* if.... elif... else

1) *if statement* : there is only one condition check if the condition is true

In [ ]:
x=12
if x>5:
  print("x is greater than 5")

2) if else statement :

* if the conditin is true , one block runs

* if false , another block runs

In [ ]:
x=2
if x>5:
  print ("x is greater than 5")

else:
  print ("x is not greater than 5")

3) if else... elif ladder

* used when you have multiple conditions to check

In [ ]:
marks = 86
if marks >= 90:
  print("Grade A")
elif marks >= 80:
  print("Grade B")
elif marks >= 70:
  print("Grade C")
elif marks >= 60:
  print("Grade D")
else:
    print("Grade F")

#*MATCH CASES*

* Match case is like switch-case in other languages
* It checks onr value agains mulptiple options (cases)
* it's available from python 3.10

#*syntax :
\* match variable
   case value 1
   #code block
   case value 2
   #code block
   case-:
   #default case

In [ ]:
day = "mon"

match day:
    case "mon":
        print("Monday")
    case "tue":
        print("Tuesday")
    case _:
        print("Invalid day")